# /etc/systemd/system/assistant.service

[Unit]
Description=Local assistant container

After=docker.service
Requires=docker.service

# Stop this service when all other services which depend on it have stopped.
StopWhenUnneeded=true

[Service]
Environment="CONTAINER=assistant"
ExecStart=/usr/bin/docker start -a $CONTAINER
ExecStartPost=/usr/bin/timeout 1m /usr/bin/bash -c 'while [ "`docker inspect -f {{.State.Health.Status}} $CONTAINER`" != "healthy" ]; do sleep 0.2; done'
ExecStop=/usr/bin/docker stop $CONTAINER